*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0 0 1rem 0;
    overflow-y: hidden;
    background-image: url('./assets/libraryImage.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}